<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="src/styles/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <title>List of Comments</title>
  </head>
  <body>
    <div class="container">
      <div class="admin-header">
        <p class="admin-header-txt">List of Comments</p>
        <button class="admin-header-btn" id="btn-logout">Logout</button>
      </div>
      <div class="comments-container">
        <h2 class="comments-title">List of Comments</h2>
        <div id="comments-list-container">
          <div class="comments-content">
            <div class="comment-header">
              <h2 class="comment-name">Faisal</h2>
              <h4 class="comment-time">8th Jan 2023</h4>
            </div>
            <p class="comment-txt">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
              voluptas, quod, quia, voluptates quae voluptatibus quibusdam
              voluptatum quos quidem quas nesciunt. Quisquam, quae.
            </p>
            <div class="container-comment-btn">
              <button class="comment-btn-edit">Edit</button>
              <button class="comment-btn-delete">Delete</button>
            </div>
          </div>
          <div class="comments-content">
            <div class="comment-header">
              <h2 class="comment-name">Azwar</h2>
              <h4 class="comment-time">8th Jan 2023</h4>
            </div>
            <p class="comment-txt">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
              voluptas, quod, quia, voluptates quae voluptatibus quibusdam
              voluptatum quos quidem quas nesciunt. Quisquam, quae.
            </p>
            <div class="container-comment-btn">
              <button class="comment-btn-edit">Edit</button>
              <button class="comment-btn-delete">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="src/js/admin.js"></script>
  </body>
</html>
